{% extends "mapping/base.html" %}

{% load static %}

{% block content %}

    <main class="main-content">
        <div>
            <div>
            <p>This project is based on Paul Thomas' book <a href='https://ravenbookstore.com/book/9781540227096' class="styled-link" target="__blank">Haunted Lawrence</a></p>
            <img src="{% static 'images/hauntedlawrence.jpg' %}">
            </div>
        </div>

        <div>
            <p>The project was created in the Fall of 2025 by a team of students at the <a href="https://idrh.ku.edu/" class="styled-link" target="__blank"> Institute for Digital Research in the Humanities</a> at the University of Kansas</p>

            <p>The project is built using <a href="https://en.wikipedia.org/wiki/Django_(web_framework)" class="styled-link" target="__blank">Django</a>, which is open-source Python based web framework, named after Django Reinhardt. Django was created in 2003 by programmers at the Lawrence Journal-World newspaper software, which was then based in the historic post office building on 7th and New Hampshire Streets in Lawrence.</p>
            <img src="{% static 'images/django-LJW-7street.jpg' %}">
        </div>
    </main>

    <script>
        // Initialize particles
        createParticles();
    </script>

{% endblock %}

